<div class="col-sm-6 col-md-4 ">
  <div class="thumbnail product">
    <div class="caption">
      <%= image_tag product.image %>
      <h3><%= link_to product.name, product, data: {turbolinks: false} %></h3>
      <p><%= product.description[0..12] %></p>
      <p>
        <%= t ".quantity" %><%= product.quanty %>
      </p>
      <h3><%= product.price %></h3>
      <p>
        <% if product.quanty == 0 %>
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <%= t ".add_to_cart" %>
        <% else %>
          <%= link_to cart_path(product.id), remote: true, method: :patch, class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-shopping-cart"></span>
              <%= t ".add_to_cart" %>
            <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>
