<!-- footer section -->
<footer class="parallax-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
        <h2 class="heading"><%= t ".contact"%></h2>
        <div class="ph">
          <p><i class="fa fa-phone"></i> <%= t ".phone" %></p>
          <h4><%= t".phones" %></h4>
        </div>
        <div class="address">
          <p><i class="fa fa-map-marker"></i><%= t ".address" %></p>
          <h4><%= t".adresss" %></h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
        <h2 class="heading"></h2>
          <p><%= t ".sunday" %> <span><%= t ".sunday_time" %></span></p>
          <p><%= t ".montofri" %><span><%= t ".monday_time" %></span></p>
          <p><%= t ".saturday" %><span><%= t ".saturday_time" %></span></p>
      </div>
      <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
        <h2 class="heading"><%= t ".follow_us" %></h2>
        <ul class="social-icon">
          <li><a href="#" class="fa fa-facebook wow bounceIn" data-wow-delay="0.3s"></a></li>
          <li><a href="#" class="fa fa-twitter wow bounceIn" data-wow-delay="0.6s"></a></li>
          <li><a href="#" class="fa fa-behance wow bounceIn" data-wow-delay="0.9s"></a></li>
          <li><a href="#" class="fa fa-dribbble wow bounceIn" data-wow-delay="0.9s"></a></li>
          <li><a href="#" class="fa fa-github wow bounceIn" data-wow-delay="0.9s"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- copyright section -->
<section id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h3><%= t ".logo" %></h3>
        <p><%= t ".copyright" %></p>
      </div>
    </div>
  </div>
</section>
